@import "tailwindcss";

@theme {
  --color-primary: #7C6CFF;
  --color-secondary: #FF6FAE;
  --color-accent: #00F5D4;
  --color-dark: #1A1B28;
  --color-light: #F5F3FF;
  --font-sans: "Inter", sans-serif;
}

@layer base {
  body {
    @apply bg-dark text-light antialiased selection:bg-primary/30 selection:text-accent;
  }
}